body{

}
.title{
text-align: center;
padding-top: 10%;
}
#icons {
    background-color: navy;
    color: white;
    /* width: 20px; */
    height: 50px;
    border-radius: 5px;
    /* width: 20%; */
}
#nav{
    background-color: lightgrey;
    text-align: center;

}
a{
    text-decoration: none;
    color: white;
}
#info{
    margin-left: 5%;
}
.userInfo{
    margin-top: 5%;
    height: 200px;;
    text-align: left;
    padding-top: 10%;
    background-color: navy;
    color: white;
    
}

.chat{
    background-color: grey;
}
form{
    position: fixed; 
    bottom: 0;
    width: 100%;
}
form button{
background-color: navy;
color: white;
height: 50px;
}
form input{
    border: .5;
    border-color: black;
    width: 83%;
    height: 50px;
}

/* Chat styling*/
/* * { margin: 0; 
    padding: 0; 
    box-sizing: border-box; 
}
      body {
           font: 13px Helvetica, Arial; 
        }
      form {
           background: #000; 
           padding: 3px; 
           position: fixed; 
           bottom: 0; 
           width: 95%; 
        }
      form input {
           border: 0;
            padding: 10px; 
            width: 90%; 
            margin-right: .5%; 
        }
      form button { 
          width: 9%; 
          background: rgb(navy);
          color: white;
            border: none; 
          padding: 10px; 
        }
      #messages { 
          list-style-type: none;
         margin: 0; 
        padding: 0; 
    }
      #messages li { 
          padding: 5px 10px; 
    }
      #messages li:nth-child(odd) { 
          background: #eee; 
    } */