
body{

}
.title{
text-align: center;
}
.subTitle{
    text-align: center; 
}
.holder{
    text-align: center;
    color: white;
    background-color: black;
    width: 50%;
    margin-left: 25%;
    margin-right: 25%;
    padding-top: 1%;
    padding-bottom: 1%;
}
